<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Second report</title>
    <style type="text/css">
       TABLE {
           text-align: right;
       }
    </style>
</head>
<body>
<form th:method="POST" th:action="@{/order/second_report}" th:object="${report}">
    <table>
        <tr>
            <td><label for="chose">Chose report type:</label></td>
            <td>
                <select th:field="*{chose}" id="chose">
                    <option th:value="'s'">Report sum all orders</option>
                    <option th:value="'c'">Report count all orders</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="day">Enter the number of days (0 - all):</label></td>
            <td><input type="text" th:field="*{days}" id="day"></td>
        </tr>
        <tr>
            <td><label for="pattern">Enter pattern store name for search (empty - all):</label></td>
            <td><input type="text" th:field="*{pattern}" id="pattern"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Generate!"/></td>
        </tr>
    </table>
    <p th:if="${reportIsEmpty}" th:text="'No results'">Hello!</p>


</form>
</body>
</html>