<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>


<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ', ' + person.getAge()}">user</a>
</div>

<br/>
<hr/>

<a href="/people/new">Create new person</a>
</br>
<a href="/order/all">Show all orders</a>
</br>
<a href="/order/report/1">Report of 21vek</a>
</br>
<a href="/order/report/2">Report of Gippo</a>
</br>
<a href="/order/report/3">Report of H&M</a>
</br>
<a href="/order/date_report">Date report</a>
</body>
</html>